{% extends 'bases/base_dashboard.html' %}
{% load static %}

{% block content %}
   
 <div class="container mx-auto px-4">
     <div class="flex flex-wrap items-center gap-2 py-6">
           
            <div class="flex min-w-[200px]">
                <input class="border rounded-md py-1 px-3 w-md" type="text" id="searchInput" onkeyup="filterTable()" placeholder="Buscar persona">
            </div>
            <div class="flex">
                
                <select id="itemsPerPageSelect" class="p-2  rounded-md dark:bg-white dark:text-black">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
            </div>
           
    </div>      
    <div class="overflow-x-auto bg-white dark:bg-dark-100 rounded-lg shadow-md ">
        <table class="responsive-table w-full"  id="dataTable">
            <thead class="bg-gray-100 dark:bg-dark-200">
                <tr>
                    <th class="py-3 px-4 text-center dark:text-white">Nombre completo</th>
                    <th class="py-3 px-4 text-center dark:text-white">Cedula</th>
                    <th class="py-3 px-4 text-center dark:text-white">Gerencia</th>
                </tr>
            </thead>
            <tbody id="dataBo">
                
            </tbody>
        </table>
       
                <div class="flex justify-between mt-4 m-2" id="pagination-controls">

                </div> 
    </div>
    {{ empleados | json_script:"empleados-data" }}

    <script src="{% static 'js/empleados.js' %}"></script>

{% endblock %}