{% extends 'bases/base_dashboard.html' %}
{% load static %}
{% block content %}


<div class="container mx-auto px-4 ">
    <div class="flex justify-between items-center mb-6 mt-5">
      <div class="flex">
            <button

                 hidden>Cargar Menu</button>
        </div>
        
        <div class="flex">
            <button
                class="py-2 px-4 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
                data-bs-toggle="modal" data-bs-target="#menu">Cargar Menu</button>
        </div>


    </div>
    {% include 'modal/menu.html' %}
    <div class="bg-white dark:bg-gray-800 pt-6 rounded-lg shadow-md">

        {% if date_of_menu %}
        <p class="dark:text-white">Menu de Hoy: <strong class="text-dark-600 dark:text-white">{{ date_of_menu }}</strong></p>
        {% else %}
        <p class="dark:text-white text-2xl">no hay fecha</p>
        {% endif %}


        <div class="flex items-center flex-col md:flex-row py-10">

            <div class="w-full md:w-1/2 px-4 py-10 md:py-0 h-96">
                <img src="{% static 'img/comedor.jpg' %}" alt="Imagen del comedor"
                    class="w-full h-full object-cover rounded-lg border-4 border-sky-500 dark:border-white">
            </div>

            <div class="w-full md:w-1/2 px-4">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    {% if menus %}
                    {% for item in menus %}
                    <div class="bg-gray-100 dark:bg-gray-700 p-6 rounded-lg shadow-md">
                      <div class="flex justify-end">
                            <button
                                class="flex flex-row px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
                                data-bs-toggle="modal" data-bs-target="#menus{{ item.id_menu }}">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                        </div>
                       
                        <h3 class="text-blue-600 dark:text-blue-400 font-bold text-lg mb-2 ">{{ item.food_category }}
                        </h3>
                      <ul id="lista-ingredientes" class="list-disc list-outside pl-6 text-gray-800 dark:text-gray-200">
                        <li class="text-gray-800 dark:text-gray-200">
                            {{ item.name_ingredient }}
                        </li>
                    </ul>
  
                      
                        
                       
                    </div>
                  {% include 'modal/update.html' %}
                    {% endfor %}
                    {% else %}
                    <p class="text-gray-800 dark:text-gray-200 col-span-2 text-center">No hay menú disponible para hoy.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div> 
 <script src="{% static 'js/form_modal_menu.js' %}"></script>
                            <script>
                                function confirmarEliminar(event, url) {
                                    event.preventDefault(); // Evita que el enlace navegue inmediatamente

                                    Swal.fire({
                                        title: '¿Estás seguro?',
                                        text: '¡No podrás revertir esto!',
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#d33',
                                        cancelButtonColor: '#3085d6',
                                        confirmButtonText: 'Sí, ¡elimínalo!',
                                        cancelButtonText: 'Cancelar'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = url; // Redirige a la URL de eliminación si el usuario confirma
                                        }
                                    });
                                }
                            </script>
{% endblock %}