{% extends 'bases/base_dashboard.html' %}
{% load static %}
{% block  content %}

  <main class="max-w-6xl mx-auto p-6">
    <h1 class="text-2xl md:text-3xl font-bold text-center mb-8 select-none dark:text-white">Resumen de Almuerzos</h1>

    <section class="bg-white rounded-xl shadow-md p-6 mb-12 dark:bg-gray-800">
      <header class="flex justify-between items-center mb-4">
        <h2 class="font-semibold text-lg md:text-xl dark:text-white">Detalles de la Orden</h2>
        <span class="text-green-600 font-semibold text-sm md:text-base">Total a pagar: <span class="font-bold">Bs. 0.00</span></span>
      </header>

      <div class="overflow-x-auto rounded-md ">
        <table class="min-w-full bg-blue-600 text-white text-sm md:text-base rounded-md dark:bg-blue-200" >
          <thead>
            <tr>
              <th class="py-3 px-4 font-semibold text-center dark:text-black">Empleado</th>
              <th class="py-3 px-4 font-semibold text-center dark:text-black">Almuerzo</th>
              <th class="py-3 px-4 font-semibold text-center dark:text-black">Para Llevar</th>
              <th class="py-3 px-4 font-semibold text-center dark:text-black">Cubiertos</th>
            </tr>
          </thead>
         
            <tbody class="bg-white divide-y divide-gray-200 dark:bg-dark-100 dark:divide-dark-200">
                
              {% for i in contexto %}
                   {% if i.lunch == "Si" %}
                    <tr> 
                        <th class="text-black dark:text-white">{{ i.employees }}</th>
                        <th class="text-black dark:text-white">{{ i.lunch }}</th>
                        <th class="text-black dark:text-white">{{ i.to_go }}</th>
                        <th class="text-black dark:text-white">{{ i.covered }}</th>
                    </tr>
                    {% endif %}
            {% endfor %}
            </tbody>
        </table>
      </div>
    </section>

    <section>
      <h3 class="text-xl md:text-2xl font-semibold mb-6 text-center select-none dark:text-white">Opciones de Pago</h3>

      <div class="grid grid-cols-2 sm:grid-cols-4 gap-6">

        <div class="bg-blue-200 dark:bg-blue-600 rounded-lg p-4 flex flex-col items-center cursor-pointer select-none transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500" data-bs-toggle="modal" data-bs-target="#movil">
         <span>Pago Movil</span>
          <img src="{% static 'img/pago.png' %}" alt="Pago Movil" class="w-16 h-16 mt-2">
        </div>
         <div class="bg-blue-200  dark:bg-blue-600  rounded-lg p-4 flex flex-col items-center cursor-pointer select-none transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500" data-bs-toggle="modal" data-bs-target="#transf">
         <span>Transferencias</span>
          <img src="{% static 'img/banesco.jpg' %}" alt="Pago Movil" class="w-16 h-16 mt-2">
        </div>
         <div class="bg-blue-200 dark:bg-blue-600  rounded-lg p-4 flex flex-col items-center cursor-pointer select-none transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500" data-bs-toggle="modal" data-bs-target="#debito">
         <span>Debito</span>
          <img src="{% static 'img/tarjeta.png' %}" alt="Pago Movil" class="w-16 h-16 mt-2">
        </div>
         <div class="bg-blue-200 dark:bg-blue-600 rounded-lg p-4 flex flex-col items-center cursor-pointer select-none transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500" data-bs-toggle="modal" data-bs-target="#efectivo">
         <span>efectivo</span>
          <img src="{% static 'img/efectivo.png' %}" alt="Pago Movil" class="w-16 h-16 mt-2">
        </div>
      
    </section>
    
  </main>

 {% include 'modal/pago_movil.html' %}
 {% include 'modal/transf.html' %}
 {% include 'modal/debito.html' %}
 {% include 'modal/efectivo.html' %}


{% endblock %}