{% extends 'bases/base_dashboard.html' %}
{% load static %}
{% block content %}

<div class="max-w-6xl mx-auto p-2">

     <div>
        <h1 class="text-2xl font-bold mb-4 text-center dark:text-white">Gestion de Pedido</h1>
     </div>
   
    <div class="flex flex-wrap items-center gap-2 py-6">
            <form method="get">
                <div class="basis-1/4 min-w-[150px]">
                    <select name="gerencia" onchange="this.form.submit()" class="border rounded-md py-2 px-3 w-full">
                        <option value="">-- Todas las Gerencias --</option>
                        {% for g in gerencias %}
                        <option value="{{ g.id_gerencia }}" {% if g.nombre_gerencia == gerencia_seleccionada %}selected{% endif %}>
                            {{ g.nombre_gerencia }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </form>    
            <div class="flex-1 min-w-[200px]">
                <input class="border rounded-md py-1 px-3 w-md" type="text" id="searchInput" onkeyup="filterTable()" placeholder="Buscar persona">
            </div>
            <div class="flex-1">
                
                <select id="itemsPerPageSelect" class="p-2  rounded-md dark:bg-white dark:text-black">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
            </div>
            <div class="basis-1/4 min-w-[150px]">
                <button class="bg-green-600 dark:bg-green-800 dark:text-white px-3 py-1 rounded-md w-full" data-bs-toggle="modal" data-bs-target="#invitado">
                Registrar Invitado
                </button>
                 {% include 'modal/invitado.html' %}
            </div>
    </div>
  
    <div class="overflow-x-auto bg-white dark:bg-dark-100 rounded-lg shadow-md">
        <table class="responsive-table w-full"  id="dataTable">
            <thead class="bg-gray-100 dark:bg-dark-200">
                <tr>
                    <th class="py-3 px-4 text-center dark:text-white">Nombre y Apellido</th>
                    <th class="py-3 px-4 text-center dark:text-white">Almuerzo Bs</th>
                    <th class="py-3 px-4 text-center dark:text-white">Para llevar Bs</th>
                    <th class="py-3 px-4 text-center dark:text-white">cubiertos Bs</th>
                    <th class="py-3 px-4 text-center dark:text-white">total a pagar</th>
                </tr>
            </thead>
            <tbody id="dataBody">
              
            </tbody>
        </table>
       <div class="flex justify-between mt-4 m-2" id="pagination-controls">

       </div>
    </div>
    {{ employees | json_script:"empleados-data" }}
    <div class="flex justify-center mt-6">
        <button class="bg-blue-600 text-white font-bold py-3 px-6 rounded-lg">
            Resumen y Pago
        </button>
    </div>
</div>
<script src="{% static 'js/buscador.js' %}"></script>
{% endblock %}